block var
doctype html
html(lang="es")
  head
    block head
      include head.pug
  body
    block menu
      include menu.pug
    block content
      section.py-5
        .container
          .row
            .col.text-center
              h1 Diamond Dance
              p Hola mundo
    block footer
      include footer.pug
    block scripts
      script(src="/js/scripts.js")