nav#header.navbar.navbar-expand-lg.navbar-light
  .container
    .navbar-header.mx-auto.ml-sm-0
      a.navbar-brand(title='Diamond Dance Shoes: Zapatos de Bailes Latinos para Mujer, Salsa y Bachata, Salón, etc.' href='/')
        img.logo.img-fluid(src='/img/logo.svg' width='320' height='70' alt='Logo Diamond Dance')
    button.navbar-toggler.my-2.mx-auto.mr-sm-0(type='button' data-toggle='collapse' data-target='#navbar-collapse' aria-controls='navbar-collapse' aria-expanded='false' aria-label='Cambiar navigación')
      span.font-weight-light.align-middle MENU
      span.navbar-toggler-icon.align-middle
    #navbar-collapse.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right.ml-auto.text-center
        li.active: a.d-block(href='/') Inicio
        li: a.d-block(href='/#modelos') Modelos
        li: a.d-block(href='/accesorios') Accesorios
        li: a.d-block(href='/#contacto') Contacto