.modal.fade#accesorios(role='dialog' aria-labelledby='accesorios' aria-hidden='true')
  .modal-dialog.modal-xl.modal-dialog-centered
    .modal-content
      .modal-header
        h2.modal-title.h3.font-weight-light Accesorios y Complementos
        button.close.pt-4(type='button' data-dismiss='modal' aria-label='Cerrar')
          span(aria-hidden='true') ×
      .modal-body
        .container-fluid
          .row
            .col-sm-6(data-showup)
              a.d-block.my-3(href='/img/accesorios/protector-tacones-baile.jpg' data-lightbox='accesorios')
                img.img-fluid.img-marco(width='1024' height='694' alt='Protector Tacones Baile' data-src='/img/accesorios/protector-tacones-baile.jpg')
            .col-sm-6(data-showup)
              a.d-block.my-3(href='/img/accesorios/protectores-tacones-baile.jpg' data-lightbox='accesorios')
                img.img-fluid.img-marco(width='1024' height='713' alt='Protectores Tacones Baile' data-src='/img/accesorios/protectores-tacones-baile.jpg')
              h3 Protectores para Tacones de Baile
              p.text-primary 3,50 €
              .live-preview
                a.btn.btn-common.uppercase.mt-0.mb-4(href='#contacto' data-dismiss='modal') ✔ ¡Me los pido!
          .row
            .col-sm-4(data-showup)
              a.d-block.my-3(href='/img/accesorios/cepillo-zapatos-baile.jpg' data-lightbox='accesorios')
                img.img-fluid.img-marco(width='768' height='1024' alt='Cepillo Zapatos Baile' data-src='/img/accesorios/cepillo-zapatos-baile.jpg')
              h3 Cepillos
              p.text-primary 7,50 €
              .live-preview
                a.btn.btn-common.uppercase.mt-0.mb-4(href='#contacto' data-dismiss='modal') ✔ ¡Me los pido!
            .col-sm-4(data-showup)
              a.d-block.my-3(href='/img/accesorios/pinkys-baile.jpg' data-lightbox='accesorios')
                img.img-fluid.img-marco(width='733' height='1024' alt='Pinkys Zapatos Baile' data-src='/img/accesorios/pinkys-baile.jpg')
              h3 Pinkys
              p.text-primary 2,50 €
              .live-preview
                a.btn.btn-common.uppercase.mt-0.mb-4(href='#contacto' data-dismiss='modal') ✔ ¡Me los pido!
            .col-sm-4(data-showup)
              a.d-block.my-3(href='/img/accesorios/medias-baile.jpg' data-lightbox='accesorios')
                img.img-fluid.img-marco(width='768' height='1024' alt='Medias Baile' data-src='/img/accesorios/medias-baile.jpg')
              h3 Medias
              p.text-primary 25 €
              .live-preview
                a.btn.btn-common.uppercase.mt-0.mb-4(href='#contacto' data-dismiss='modal') ✔ ¡Me los pido!
      .modal-footer
        button.btn.btn-common(type='button' data-dismiss='modal') ✖ Cerrar