block contact
  section#contacto.container
    .row
      .col-sm-12(data-showup)
        h2.title.h1.page-header Contacto
    .row
      .col-md-12.text-center(data-showup)
        p Contacta con nosotros por 
          strong teléfono o whatsapp
          |  sin nungún compromiso, ya sea para aclararte cualquier duda o para concertar una cita para probarte nuestros zapatos:
        p
          a.btn.btn-common.llamar(href='tel:+34622161585' target='_blank' onclick=`gtag('event', 'clic', {'event_label': 'llamar-footer'});`)
            <svg width="27" height="27" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="phone" class="svg-inline--fa fa-phone fa-w-16 align-text-top" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M493.4 24.6l-104-24c-11.3-2.6-22.9 3.3-27.5 13.9l-48 112c-4.2 9.8-1.4 21.3 6.9 28l60.6 49.6c-36 76.7-98.9 140.5-177.2 177.2l-49.6-60.6c-6.8-8.3-18.2-11.1-28-6.9l-112 48C3.9 366.5-2 378.1.6 389.4l24 104C27.1 504.2 36.7 512 48 512c256.1 0 464-207.5 464-464 0-11.2-7.7-20.9-18.6-23.4z"></path></svg>
            |  622 161 585
          a.btn.btn-common.llamar.whatsapp(href='https://api.whatsapp.com/send?phone=34622161585' target='_blank' onclick=`gtag('event', 'clic', {'event_label': 'whatsapp-footer'});`)
            <svg width="27" height="27" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="whatsapp" class="svg-inline--fa fa-whatsapp fa-w-14 align-text-top" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M380.9 97.1C339 55.1 283.2 32 223.9 32c-122.4 0-222 99.6-222 222 0 39.1 10.2 77.3 29.6 111L0 480l117.7-30.9c32.4 17.7 68.9 27 106.1 27h.1c122.3 0 224.1-99.6 224.1-222 0-59.3-25.2-115-67.1-157zm-157 341.6c-33.2 0-65.7-8.9-94-25.7l-6.7-4-69.8 18.3L72 359.2l-4.4-7c-18.5-29.4-28.2-63.3-28.2-98.2 0-101.7 82.8-184.5 184.6-184.5 49.3 0 95.6 19.2 130.4 54.1 34.8 34.9 56.2 81.2 56.1 130.5 0 101.8-84.9 184.6-186.6 184.6zm101.2-138.2c-5.5-2.8-32.8-16.2-37.9-18-5.1-1.9-8.8-2.8-12.5 2.8-3.7 5.6-14.3 18-17.6 21.8-3.2 3.7-6.5 4.2-12 1.4-32.6-16.3-54-29.1-75.5-66-5.7-9.8 5.7-9.1 16.3-30.3 1.8-3.7.9-6.9-.5-9.7-1.4-2.8-12.5-30.1-17.1-41.2-4.5-10.8-9.1-9.3-12.5-9.5-3.2-.2-6.9-.2-10.6-.2-3.7 0-9.7 1.4-14.8 6.9-5.1 5.6-19.4 19-19.4 46.3 0 27.3 19.9 53.7 22.6 57.4 2.8 3.7 39.1 59.7 94.8 83.8 35.2 15.2 49 16.5 66.6 13.9 10.7-1.6 32.8-13.4 37.4-26.4 4.6-13 4.6-24.1 3.2-26.4-1.3-2.5-5-3.9-10.5-6.6z"></path></svg>
            |  Enviar WhatsApp
        //- p Y por supuesto puedes venir a nuestros puntos de venta:
        //- p
          a.btn.btn-common(href='https://www.google.com/maps?ll=37.998698,-1.141464&z=16&t=m&hl=es-ES&gl=ES&mapclient=embed&cid=13438434014906965942' target='_blank')
            i.fa.fa-map-marker.fa-lg
            |  Centro de Ocio Zig Zag, Juan Carlos I, 19 30008 Murcia
        //- .col-md-12
          iframe.gmap(width='100%' height='350' src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3144.07556060499!2d-1.1408096846758993!3d37.99869797971908!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xba7ee889640e5fb6!Diamond+Dance+Shoes!5e0!3m2!1ses!2s!4v1491889812194' frameborder='0' allowfullscreen)
      .col-md-12.text-center(data-showup)
        p Antes de realizar el pedido consulta la <a href='#tallas' data-toggle='modal'>guía de tallas</a> y sigue los siguientes pasos para elegir la tuya:
      .modal.fade#tallas(role='dialog' aria-labelledby='tallas' aria-hidden='true')
        .modal-dialog.modal-xl.modal-dialog-centered
          .modal-content.text-left
            .modal-header
              h3.modal-title.h3.font-weight-light Tallas
              button.close.pt-4(type='button' data-dismiss='modal' aria-label='Cerrar')
                span(aria-hidden='true') ×
            .modal-body
              .container-fluid.p-0
                .row
                  .col-lg-6.text-center
                    p.h3 TABLA DE TALLAS
                    table#talla.table
                      tbody
                        tr
                          th TALLA EUR
                          th CM DE PIE
                        tr
                          td 35
                          td 23,5
                        tr
                          td 36
                          td 24,0
                        tr
                          td 37
                          td 24,5
                        tr
                          td 38
                          td 25,0
                        tr
                          td 39
                          td 25,5
                        tr
                          td 40
                          td 26,0
                        tr
                          td 41
                          td 26,5
                  .col-lg-6.text-center
                    p.h3 MEDICIÓN DEL PIE
                    img.img-fluid(width='504' height='237' data-src='/img/talla.jpg' alt='Medición del pie para talla')
                    p Ponga el pie sobre un trozo de papel. Dibuje el contorno (¡Mantenga el boligrafo recto!). A continuación, mida la distancia más larga con una regla.
            .modal-footer
              button.btn.btn-common(href='#contacto' data-dismiss='modal') ✔ Contacto
              button.btn.btn-common(type='button' data-dismiss='modal') ✖ Cerrar
      .col-md-12.text-center(data-showup)
        hr
        p Realizamos envíos a toda España (península, Baleares y Canarias) a través de Nacex.
        img.img-fluid(width='330' height='100' data-src='/img/nacex.svg' alt='Logo Nacex')